
<form action="/student" method="post">

<!-- Thankfully, ERB provides a similar syntax. It handles that first level of nesting, so instead of having to do my_hash["student"]={} we can just go straight into the student hash. ERB assumes 
that the name of your top-level hash is the first key,
so the code to call the value associated with the nested "name" key
 would be student["name"]. -->

  Student Name: <input type="text" name="student[name]">
  Student Grade: <input type="text" name="student[grade]">
  <input type="submit">
</form>

<!-- <h1>not need </h1> -->
<!-- the hash for the nested forms.. Start form the NewFile..
template> -->

</template>
