
<form action="/student" method="post">
  Student Name: <input type="text" name="student[name]">
  Student Grade: <input type="text" name="student[grade]">
  <input type="submit">
</form>

<!-- <h1>not need </h1> -->
<!-- the hash for the nested forms.. Start form the NewFile..
template> -->

</template>
